.advantages {
  margin: 0 auto;
  background-color: $advantages-bg-color;
}

.advantages__title {
  @include text("Oswald", 36px, 60px);
  color: $advantages-title-color;
}

.advantages__list {
  @include reset-list();
}

.advantages__item {
  @include text("Arial", 14px, 18px);
  color: $advantages-item-color;
}

@media (max-width: $mobile-width-only) {
  .advantages__item + .advantages__item {
    margin-top: 20px;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 708px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    width: 245px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1220px;
  }
}
