.intro {
  background-color: $intro-bg-color;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.intro__header {
  @include text("Oswald", 36px, 36px);
  text-transform: uppercase;
  text-align: center;
  color: $intro-header-color;
}

.intro__slogan {
  @include text("Oswald", 14px, 14px);
  text-transform: uppercase;
  text-align: center;
  color: $intro-slogan-color;
}
