.intro__header {
  min-height: 305px;
  background-color: $intro-bg-color;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.intro__title {
  @include text("Oswald", 36px, 36px);
  color: $intro-header-color;
  margin: 0;
  padding-top: 29px;
  text-align: center;
}

.intro__slogan {
  @include text("Oswald", 14px, 14px);
  margin: 19px 0 0 0;
  text-transform: uppercase;
  color: $intro-slogan-color;
  text-align: center;
}

.intro__picture {
  margin-top: -140px;

  & img {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .intro__header {
    max-width: 600px;
    min-height: auto;
    background-image: none;
    background-color: transparent;
    text-align: left;
  }

  .intro__title {
    font-size: 60px;
    line-height: 60px;
    color: $intro-header-invert-color;
    text-align: left;
  }

  .intro__slogan {
    font-size: 20px;
    line-height: 20px;
    color: $intro-slogan-invert-color;
    text-align: left;
  }

  .intro__picture {
    position: relative;
    margin-top: 0;
  }

  .intro__button {
    position: relative;
    max-width: 600px;
    top: -247px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    height: 630px;
    padding: 90px;
    box-sizing: border-box;
  }

  .intro__header,
  .intro__button {
    max-width: 100%;
  }

  .intro__title,
  .intro__slogan {
    width: 550px;
  }
}
