.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  right: 0;
  top: -45px;
}

.main-nav__list {
  @include reset-list();
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
