.page-wrapper {
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .page-wrapper {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page-wrapper {
    width: 1440px;
  }

  .page-wrapper--bg-top-right {
    background-image: url("../../img/index-background-desktop@1x.jpg");
    background-position: top right;
    background-repeat: no-repeat;
  }
}
