.page-header {
  @include text("Oswald", 36px, 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: $page-header-bg-color;
  color: $page-header-color;
}

.page-header__logo img {
  margin-top: 11px;
  width: 191px;
  height: 39px;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-image: none;
    flex-direction: row;
    background-color: transparent;
  }

  .page-header__logo img {
    margin-top: 0;
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo img {
    width: 203px;
    height: 60px;
  }
}
