.page-wrapper {
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: $desktop-width) {
  .page-wrapper__header {
    max-width: 1440px;
    margin: 0 auto;
  }

  .page-wrapper__header--cat-bg {
    background-image: url("../../img/index-background-desktop@1x.jpg");
    background-position: top right;
    background-repeat: no-repeat;
  }
}
