.page-main {
  background-color: $page-main-bg-color;
}

@media (min-width: $desktop-width) {
  .page-main__programs {
    margin-top: 80px;
  }

  .page-main__products {
    padding-left: 70px;
    padding-right: 70px;
  }
}
