.products {
  background-color: $products-bg-color;
}

.products__list {
  @include reset-list;
  border: 1px solid #ededed;
}

.products__item {
  min-height: 210px;
}

.product__info {
  display: flex;
}

.product__info-title a {
  @include text("Oswald", 16px, 20px);
  text-transform: uppercase;
  text-decoration: none;
  color: $product-info-title-color;
}

.product__order {
  @include text("Oswald", 16px, 20px);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $product-button-bg-color;
  color: $product-button-color;
}

@media (max-width: $mobile-width-only) {
  .products__item + .products__item {
    border-top: 1px solid $product-item-border-color;
  }
}

@media (min-width: $tablet-width) {
  .products__list {
    display: flex;
    flex-wrap: wrap;
    border: 0;
  }

  .products__item {
    width: 324px;
    height: 430px;
    margin: 140px 30px 0 30px;
    background-color: $lightgray; /*todo*/
  }
}

@media (min-width: $desktop-width) {
  .products__item {
    width: 245px;
    margin: 142px 40px 0 40px;
  }
}
