.programs {
  margin: 0 auto;
  background-color: $programs-bg-color;
}

.programs__choose-button {
  @include text("Oswald", 14px, 18px);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $programs-button-bg-color;
  color: $programs-button-color;
}

.programs__list {
  @include reset-list;
}

.programs__item {
  background-color: $programs-item-bg-color;
  min-height: 100px;
}

.programs__title {
  @include text("Oswald", 24px, 37px);
  text-transform: uppercase;
  color: $programs-title-color;
}

.programs__description {
  @include text("Arial", 14px, 18px);
  color: $programs-description-color;
}

.programs__catalog-link {
  @include text("Oswald", 16px, 16px);
  text-transform: uppercase;
  text-decoration: none;
  color: $programs-catalog-link-color;
}

@media (max-width: $mobile-width-only) {
  .programs__item + .programs__item {
    margin-top: 20px;
  }
}

@media (min-width: $tablet-width) {
  .programs {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    width: 1220px;
  }

  .programs__list {
    display: flex;
    justify-content: space-between;
  }

  .programs__item {
    width: 570px;
  }
}
