.show-more {
  background-color: $show-more-bg-color;
}

.show-more__title {
  @include text("Oswald", 16px, 20px);
  text-align: center;
  text-transform: uppercase;
  color: $show-more-title-color;
}

.show-more__subtitle {
  @include text("Arial", 12px, 16px);
  text-align: center;
  color: $show-more-subtitle-color;
}

.show-more__button {
  @include text("Oswald", 16px, 20px);
  text-align: center;
  text-transform: uppercase;
  background-color: $show-more-button-bg-color;
  color: $show-more-button-color;
}
