.site-list {
  display: flex;
  flex-direction: column;
}

.site-list__item a {
  @include text("Oswald", 20px, 20px);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $site-list-link-color;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
  }

  .site-list__item a {
    font-weight: 400;
  }

  .site-list__item + .site-list__item {
    margin-left: 38px;
  }
}
