@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin text($fontFamily, $fontSize, $lineHeight) {
  font-family: $fontFamily, sans-serif;
  font-weight: 400;
  font-size: $fontSize;
  line-height: $lineHeight;
}
