/* colors */
$white: #ffffff;
$lightgray: #f2f2f2;
$lightgreen: #68b738;
$black: #111111;
$darkgray: #444444;

/* functional color variables */
$body-bg-color: $white;
$body-color: $black;

$page-header-bg-color: $white;
$page-header-color: $black;

$page-main-bg-color: $white;

$page-footer-bg-color: $lightgray;

$site-list-link-color: $black;

$intro-bg-color: $lightgreen;
$intro-header-color: $white;
$intro-slogan-color: $white;

$programs-bg-color: $white;
$programs-item-bg-color: $lightgray;
$programs-title-color: $black;
$programs-description-color: $darkgray;
$programs-button-bg-color: $lightgreen;
$programs-button-color: $white;
$programs-catalog-link-color: $black;

$advantages-bg-color: $white;
$advantages-title-color: $black;
$advantages-item-color: $darkgray;

$products-bg-color: $white;
$product-info-title-color: $black;
$product-button-bg-color: $lightgreen;
$product-button-color: $white;

$specs-color: $darkgray;

$show-more-bg-color: $white;
$show-more-title-color: $black;
$show-more-subtitle-color: $darkgray;
$show-more-button-bg-color: $lightgray;
$show-more-button-color: $darkgray;

$copyright-link-color: $darkgray;

