/* colors */
$white: #ffffff;
$lightgray: #f2f2f2;
$lightgreen: #68b738;
$lightgreen-2: #64a83b;
$black: #111111;
$darkgray: #444444;

/* functional color variables */
$body-bg-color: $white;
$body-color: $black;

$page-header-bg-color: transparent;
$page-header-color: $black;

$page-main-bg-color: transparent;

$page-footer-bg-color: $lightgray;

$site-list-link-color: $black;

$intro-bg-color: $lightgreen-2;
$intro-header-color: $white;
$intro-header-invert-color: $black;
$intro-slogan-color: $white;
$intro-slogan-invert-color: $black;

$programs-bg-color: $white;
$programs-item-bg-color: $lightgray;
$programs-title-color: $black;
$programs-description-color: $darkgray;
$programs-button-bg-color: $lightgreen;
$programs-button-color: $white;
$programs-catalog-link-color: $black;

$advantages-bg-color: $white;
$advantages-title-color: $black;
$advantages-item-color: $darkgray;

$products-bg-color: $white;
$product-item-bg-color: $lightgray;
$product-item-border-color: $lightgray;
$product-info-title-color: $black;
$product-button-bg-color: $lightgreen;
$product-button-color: $white;

$specs-color: $darkgray;

$show-more-bg-color: $white;
$show-more-title-color: $black;
$show-more-subtitle-color: $darkgray;
$show-more-button-bg-color: $lightgray;
$show-more-button-color: $darkgray;

$copyright-link-color: $darkgray;

/* dimentions */
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
